@import '../../../stylesheets/variables';

@mixin stickBg ($color) {
    background: linear-gradient(90deg, $color, darken($color, 5%));
}

.Skills {
    margin-bottom: 2em;

    ol {
        margin-top: 0;
    }

    &__category {
        margin-bottom: 1em;

        h5 {
            font-size: 1em;
            padding: 0.6em 0.3em;
        }
    }

    &__skill {
        display: inline-flex;
        font-size: 0.8em;
        background: #EEE;
        border-radius: 5px;
        margin: 0.3em;
        position: relative;
        overflow: hidden;

        &__name {
            padding: 0.2em 0.5em;
        }

        &__level {
            padding: 0.2em 0.6em;
            display: inline-block;
            align-self: stretch;
            @include stickBg(#ddd);
            
            &.intermediate {
                @include stickBg(#aaa);
                color: white;
            }
            &.advanced {
                @include stickBg(#777);
                color: white;
            }

        }
    }
}