@import '../../stylesheets/variables';

.App {
  background: #eee;
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $title_font;
  }
  
  .resume {
    background: #fff;
    margin: auto;
    width: $a4_width - ($a4_bleeding * 2);
    padding: $a4_bleeding;
    font-family: $body_font;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}