@import '../../../stylesheets/variables';

.Basic {
    display: flex;

    &__left {
        padding-right: 1cm;
        width: 6cm;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    &__right {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;

        * {
            margin-bottom: 0.15cm;
        }
    }
}