@import './_variables';

html {
    -webkit-print-color-adjust: exact;
}

body {
    background: #eee;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

hr {
    border-style: solid;
    border-bottom: none;
    margin: 2em 0 1.5em 0;
}

a, a:link, a:visited {
    color: #575757;
    text-decoration: none;
}

section {
    padding: 0.5em 0 0 0;
    widows: 3;

    h2 {
        text-align: center;
        font-size: 1.2em;
        page-break-inside: avoid;

        &::after {
            content: "";
            display: block;
            height: 100px;
            margin-bottom: -100px;
        }
    }

    p {
        margin: 0.7em 0;
        font-size: 0.9em;
        line-height: 1.6em;
    }

    & > ol {
        list-style-type: none;
        padding: 0.5cm 0 0 0;

        li {
            font-size: 0.9em;
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5em;
            page-break-inside: avoid;
            break-inside: avoid;

            &:last-of-type {
                margin-bottom: 0;
            }

            h3 {
                margin-bottom: 0.4em;
                font-size: 1.2em;

                & > span {
                    font-weight: normal;
                    font-size: 0.8em;
                    color: #999;
                    font-family: $body_font;
                }
            }
        }
    }
}

@import './_print';