@page {
    margin: 0.8in;
}
@media print {

    body {
        background: #fff;
    }
    
    .App {
        background: #fff !important;

        & .resume {
            width: 100% !important;
            padding: 0 !important;
            box-shadow: none !important;
            border-radius: 0 !important;
            background: #fff !important;
        }
    }
}