@page {
    margin: 0.8in;
}
@media print {
    
    .App {
        background: transparent !important;
        
        & .resume {
            width: 100% !important;
            padding: 0 !important;
            box-shadow: none !important;
            border-radius: 0 !important;
            background: transparent !important;
        }
    }
}